
<div class="flex">
  <div>
    <div *ngFor="let item of data">
      <h3 >{{item.id}}Title : {{item.name}}</h3>
      <!-- <img src="{{item.url}}" alt=""> -->
      <!-- <p>user name : {{item.username}}</p>
      <p>phone : {{item.phone}}</p>
      <p>website : {{item.website}}</p>
      <p>email : {{item.email}}</p> -->
      <button (click)="getUser(item.id)">get user info</button>
    </div>
  </div>
  <div *ngIf=show class="show? 'd-show': 'd-none' ">
    <div>
      <h3>name: {{userData?.name}}</h3>
      <p>username: {{userData?.username}}</p>
      <p>phone: {{userData?.phone}}</p>
    </div>
  </div>
  <h3 *ngIf=loading class="loading ? 'd-show' : 'd-none' ">Loading......</h3>

</div>
<button (click)="removeUserDetail()">Clear User info</button>

<button (click)="GetPosts()">Get Posts</button>

<div *ngFor="let item of posts" class="post-container">
  <h3>Post{{item.id}} : {{item.title}}</h3>
  <button (click)="GetPostDetail(item.id)">Get Detail</button>
</div>
